*{
  box-sizing: border-box;
  color: white;
}

.parent_container {
  background-color: #23252C;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.content {
  margin-top: 15rem;
}

.content, .profileImage {
  width: 20%;
}

/* Image */
.profileImage_container{
  display: flex;
  justify-content: center;
}

.profileImage{
  border-radius: .5rem;
}

/* Body of text */
.content{
  background-color: #1A1B21;
}

  /* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}  
.header h1 {
  font-size: x-large;
  margin:1rem 0rem 0rem 0rem;
}

.header h3{
  font-size: smaller;
  color: #F3BF99;
  font-weight:400;
  margin: 0;
}

.header span {
  font-size: x-small;
  margin-bottom: 1rem;
}

.header a {
  text-decoration: none;
}
  /* Contact */
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .contact button {
    margin:0rem .5rem;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    border-radius: .3rem;
  }
  
  .contact a {
    text-decoration: none;
  }
  
  .emailButton a{
    color: #374151;
  }
  
  .linkedinButton {
    background-color: #5093E2;
    border: 1px solid #5093E2;
  }

  /* Blurb */
  .blurb {
    margin: 1.5rem 2rem 0rem 2rem;
  }

  .blurb h2 {
    font-size: .8rem;
  }

  .blurb p {
    font-size: .6rem;
  }

  /* Footer */
  .footer{
    background-color: #161619;
    padding: .8rem 0rem;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
  }

  .footer button {
    margin: 0rem .4rem;
  }

  .footer img {
    color: #918E9B;
    width: 2vh;
  }